# Local database data (if you have a local folder mapped)
.db_data/
docker/db/data/

# Files system and event configuration
.env
.DS_Store
Thumbs.db

# Logs
*.log
/.vs/CtrlShe/CopilotIndices/18.8.1006.39443/CodeChunks.db
/.vs/CtrlShe/CopilotIndices/18.8.1006.39443/CodeChunks.db-shm
/.vs/CtrlShe/CopilotIndices/18.8.1006.39443/CodeChunks.db-wal
/.vs/CtrlShe/CopilotIndices/18.8.1006.39443/SemanticSymbols.db
/.vs/CtrlShe/CopilotIndices/18.8.1006.39443/SemanticSymbols.db-shm
/.vs/CtrlShe/CopilotIndices/18.8.1006.39443/SemanticSymbols.db-wal
/.vs/CtrlShe.slnx/copilot-chat/5e83bcb9/sessions/ddc295b9-f27f-4c42-80e1-dd5f3e7bf577
/.vs/CtrlShe.slnx/FileContentIndex/5945e5b0-d12d-4b07-8c38-b48abf01e8d5.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/9b17f5a0-8a21-4836-8a04-9fdce7b972e1.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/a6d87818-209b-4e98-b5a7-ed0c1e8f988c.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/e30cec10-39c5-4051-ad55-983f3834e8e9.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/e4c6d542-b24f-4fcd-bb60-e84ca97a0dc0.vsidx
/.vs/CtrlShe.slnx/v18/.wsuo
/.vs/CtrlShe.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/CtrlShe.slnx/FileContentIndex/3afbb65e-66fd-479a-986b-3652fb213867.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/622be135-824e-4ec5-b01f-41deb1f894af.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/bc353296-01d8-4b78-8012-4e026be4fb50.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/dc3b7e7b-017a-4428-8695-f41f9b53f460.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/5a5df81a-4ff3-4547-8cce-3d9c6ab8840e.vsidx
/.vs/CtrlShe.slnx/FileContentIndex/c64bcdd9-fd78-4320-a82c-8a0f75383324.vsidx
